body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}
*{
  font-family: 'Inter';
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 3rem auto;
}


header {
border-bottom: 1px solid #eaeaea;
  h3,p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.button {
  border: none;
  background-color: white;
  cursor: pointer;
}
.sneakers {
  display:flex;
  flex-wrap: wrap;
  div {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.search-block {
  border: 1px solid #F3f3f3;
  padding: 0px 15px;
  border-radius: 8px;
  &:hover {
    border-color: gold;
  }
  .clear {
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
  }
  input {
    border: none;
    padding: 13px;
    font-size: 16px;
    width: 200px;
}
.noFav {
  .greenButton {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border:none;
    color: white;
    cursor:pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background .2s ease-in-out;
    margin-top: 70px;
    position: relative;
    &:hover {
      background: lighten(#9dd558, 15%);
    }
    &:active {
      background: darken(#9dd558,10%);
    }
}}


